<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KlantBestelApplicatie</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/KlantBestelApplicatie.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="main-navbar">
        <div class="navbar-logo">
            <a asp-page="/Index">LOGO</a>
        </div>

        <form class="navbar-search" method="get" asp-page="/Index">
            <input type="text" name="searchTerm" placeholder="Zoeken..." />
            <button type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>

        <div class="navbar-icons">
            <a asp-page="/Favorites">
                <i class="fa-regular fa-heart"></i>
            </a>

            <div class="nav-dropdown">
                <button type="button" class="nav-icon-button">
                    <i class="fa-regular fa-user"></i>
                </button>

                <div class="nav-dropdown-menu">
                    <a asp-page="/Account">Account</a>
                    <a asp-page="/OrderHistory">Bestelgeschiedenis</a>
                </div>
            </div>

            <a asp-page="/Cart">
                <i class="fa-solid fa-cart-shopping"></i>
            </a>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - KlantBestelApplicatie - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
