@page
@model KE03_INTDEV_SE_1_Base.Pages.OrderSuccessModel

<section class="order-success-page">
    <h1>Bestelling geplaatst</h1>

    <p>Je bestelling is succesvol geplaatst.</p>

    <p>Bestelnummer: <strong>@Model.OrderId</strong></p>

    <a asp-page="/OrderHistory" class="checkout-button">
        Bekijk bestelgeschiedenis
    </a>
</section>